/* .app {
  text-align: center;
} */

.app-header {
  background-color: red;
  /* height: 60px; */
  padding: 20px;
  color: white;
}

.app-footer {
  background-color: black;
  text-align: right;
  color: white;
  padding-right: 20px;
}

.app-title {
  font-size: 1.5em;
}

h3.app-title {
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: inline;
}
.avatar-img {
  border-radius: 50%;
}

.page-content {
  padding: 5px;
}

.message-label {
  text-align: left;
  display: block;
}

.map > div[style]{
  position: absolute;
  height: 15% !important;
}

.img-profile {
  max-width: 70%;
  height: auto;
}